<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GitGudLogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/sLogs">Log your progress</a>
                <a class="nav-item nav-link" href="/dLogs">Daily Log</a>
                <a class="nav-item nav-link" href="/rand">Random</a>
                <a class="nav-item nav-link" href="/aLogs">All logs</a>
                <a class="nav-item nav-link" href="/dTips">Daily tips</a>
                <a class="nav-item nav-link" href="/aTips">All tips</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Flask Web Form</h2>
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label for="Date:"></label>
                <input type="date" class="form-control" id="date" name="date">

                <label for="category">Category:</label>
                <input type="text" class="form-control" id="category" name="category" placeholder="Category">

                <label for="improvement">Improvement:</label>
                <input type="text" class="form-control" id="improvement" name="improvement" placeholder="What did you learn ?">

            </div>
            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for message in messages %}
        {% if "Error" not in message[1]: %}
        <div class="alert alert-info">
            <strong>Success! </strong> {{ message[1] }}</div>
        {% endif %}

        {% if "Error" in message[1]: %}
        <div class="alert alert-warning">
            {{ message[1] }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</body>

</html>